@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Agbalumo&family=Agu+Display&family=Bungee&family=Catamaran:wght@100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libertinus+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Momo+Trust+Display&family=Oleo+Script:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,300;1,100&family=Story+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";



@theme{
  --font-display:"Momo Trust Display", sans-serif;
  
  --animate-fadeUp: fadeUp 0.7s ease-out forwards;

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(2rem); /* like translate-y-8 */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
